# Секреты и конфиги
.env
*.env
config/secret*.json
keys_*


# Данные
*.csv
*.xlsx
*.parquet
*.txt
data/raw/
data/processed/

# Логи
*.log
logs/

# Python
__pycache__/
*.pyc
.python-version

# Jupyter
.ipynb_checkpoints/